<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<body>
	<div th:fragment="content" class="pt-5">
		<div class="d-grid gap-4 pt-5">
			<div class="text-center d-flex flex-column">
				
				<span class="fs-2 ubuntu-bold">Contact Me</span></div>
				<div class="rounded" style="border:2px solid #7843E9;width:30px;margin:0 auto;"></div>
				<div class="d-flex justify-content-center">
					<p class="text-center fs-5 custom-max-width p-2">Feel free to reach out if you'd
					 like to collaborate or discuss opportunities!
					</p>
				</div>
				<div class="text-justify">
					<div class="row">
						<div class="d-flex justify-content-center" style="z-index:1">
							<div class="custom-width shadow px-4 py-5 mb-5 bg-body rounded">
								<div class="form-floating mb-3 ">
								 	 <input type="text" class="form-control" id="floatingInput" placeholder="name">
								 	 <label for="floatingInput" class="fw-normal" style="color:#9999A1">Name</label>
								</div>
								<div class="form-floating mb-3">
								 	 <input type="email" class="form-control" id="floatingInput" placeholder="email">
								 	 <label for="floatingInput" class="fw-normal" style="color:#9999A1">Email address</label>
								</div>
								<div class="form-floating">
	  								<textarea class="form-control" placeholder="Leave a message here" id="floatingTextarea2" style="height: 300px"></textarea>
	  								<label class="fw-normal" style="color:#9999A1" for="floatingTextarea2">Message</label>
								</div>
								<div class="d-flex justify-content-end mt-3">
									<button class="rounded px-5 py-3 btn-custom-blue ubuntu-bold ">SUBMIT</button>
								</div>
							</div>
							
						</div>
					 </div>
				 </div>
			</div>
		</div>
	</body>
</html>