<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<body>
	<div th:fragment="content">
	
		<div class="d-grid gap-4">
		
		
		<div class="text-center">
				<span class="fs-2 text-light">Experience</span>
			</div>
			<div >
				<div class="row border rounded p-2" style="background-color:white;">
					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
						<img th:src="@{/images/experience.png}" class="img-fluid"/>
					</div>
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
						<div class="border border-warning border-2 rounded m-2 p-2">
							<h4>Java Backend Developer</h4>
							<h5>Pricewaterhouse Coopers LLP</h5>
							<h6>21st August, 2021 – Present</h6>
							<div class="border"></div>
							<h6 class="mt-2">Role Description:</h6>
							<p class="text-justify">
								Developed microservices for large-scale applications.
								Integrated third-party APIs and services for enhanced functionality.
								Conducted code reviews and collaborated with cross-functional 
								teams to improve code quality.
							</p>
						</div>
				 	</div>
				 </div>
			</div>
		</div>
	</div>
	</body>
</html>