<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

	<body>
		<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark position-fixed topnav-color top-0" style="width:100vw;">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">Portfolio</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		      <div class="navbar-nav">
		        <a class="nav-link active" aria-current="page" onclick="scrollToElement('home')">Home</a>
		        <a class="nav-link" onclick="scrollToElement('skillsAndCert')">Skills & Certifications</a>
		        <a class="nav-link" onclick="scrollToElement('projects')">Projects</a>
		        <a class="nav-link" onclick="scrollToElement('experience')">Experience</a>
		        <a class="nav-link" onclick="scrollToElement('education')">Education</a>
		        <a class="nav-link" onclick="scrollToElement('contact')">Contact</a>
		        <a class="nav-link" onclick="download()">Downloads</a>
		      </div>
		    </div>
		  </div>
		</nav>
		<div th:fragment="footer" class="footer-color">
			<div class="container-fluid">
	       		<div class="row">
	           		<div class="col-md-6 p-3">
	               		<p style="margin:0px;">&copy; Samir Kumar 2024. All rights reserved.</p>
	           		</div>
	            	<div class="col-md-6 text-md-end p-3">
		                <ul class="list-inline" style="margin:0px;">
		                    <li class="list-inline-item">
		                        <a href="https://www.linkedin.com/in/samir-kumar-935149167" target="_blank">
		                        	<i class="fa-brands fa-linkedin fa-2xl" style="color: #FFF5E4;"></i>
		                        </a>
		                    </li>
		                    <li class="list-inline-item">
		                        <a href="https://github.com/sam3389" target="_blank">
		                        	<i class="fa-brands fa-github fa-2xl" style="color: #FFF5E4;"></i>
		                        </a>
		                    </li>
		                    <li class="list-inline-item">
		                        <a href="mailto:sameerkmr823@hmail.com">
		                        	<i class="fa-solid fa-envelope fa-2xl"  style="color: #FFF5E4;"></i>
		                        </a>
		                    </li>
		                </ul>
	            	</div>
	       		</div>
       		</div>
		</div>
	</body>
</html>