<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<body>
	<div th:fragment="content" class="pt-5">
		<div class="d-grid gap-4 pt-5">
			<div class="text-center d-flex flex-column">
				<span class="fs-2 ubuntu-bold">PROJECTS</span>
			</div>
			<div class="rounded" style="border:2px solid #7843E9;width:30px;margin:0 auto;"></div>
			<div class="d-flex justify-content-center">
					<p class="text-center fs-5 custom-max-width p-2">Here you will find some of the personal and clients projects that I created with each project containing its own case study
					</p>
			</div>
			<div class="text-justify mt-4">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
						<div class="p-2 custom-max-width my-4">
							<img th:src="@{/images/ecom.jpeg}" class="img-fluid"/>
						</div>
						
					</div>
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
						<div class="p-2">
							<p class="fs-4 fw-bold">
								E-commerce Platform Backend
							</p>
							<p class="custom-max-width">
								This backend platform ensures smooth e-commerce operations, 
								providing real-time data updates and a comprehensive toolkit for
								 managing products, customers, orders, and sales performance.
								
							</p>
							<div class="my-5">
								<a th:href="@{/project/ecommerce/case-study}" class="rounded px-5 py-3 btn-custom-blue ubuntu-bold ">Case Study</a>
							</div>
						</div>
				 	</div>
				 </div>
			</div>
			
			
			
						<div class="text-justify mt-4">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
						<div class="p-2 custom-max-width my-4">
							<img th:src="@{/images/ecom.jpeg}" class="img-fluid"/>
						</div>
						
					</div>
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
						<div class="p-2">
							<p class="fs-4 fw-bold">
								E-commerce Platform Backend
							</p>
							<p class="custom-max-width">
								This backend platform ensures smooth e-commerce operations, 
								providing real-time data updates and a comprehensive toolkit for
								 managing products, customers, orders, and sales performance.
								
							</p>
							<div class="my-5">
								<button class="rounded px-5 py-3 btn-custom-blue ubuntu-bold ">Case Study</button>
							</div>
						</div>
				 	</div>
				 </div>
			</div>
			
			
			
						<div class="text-justify mt-4">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
						<div class="p-2 custom-max-width my-4">
							<img th:src="@{/images/ecom.jpeg}" class="img-fluid"/>
						</div>
						
					</div>
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
						<div class="p-2">
							<p class="fs-4 fw-bold">
								E-commerce Platform Backend
							</p>
							<p class="custom-max-width">
								This backend platform ensures smooth e-commerce operations, 
								providing real-time data updates and a comprehensive toolkit for
								 managing products, customers, orders, and sales performance.
								
							</p>
							<div class="my-5">
								<button class="rounded px-5 py-3 btn-custom-blue ubuntu-bold ">Case Study</button>
							</div>
						</div>
				 	</div>
				 </div>
			</div>
			
			
						<div class="text-justify mt-4">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
						<div class="p-2 custom-max-width my-4">
							<img th:src="@{/images/ecom.jpeg}" class="img-fluid"/>
						</div>
						
					</div>
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
						<div class="p-2">
							<p class="fs-4 fw-bold">
								E-commerce Platform Backend
							</p>
							<p class="custom-max-width">
								This backend platform ensures smooth e-commerce operations, 
								providing real-time data updates and a comprehensive toolkit for
								 managing products, customers, orders, and sales performance.
								
							</p>
							<div class="my-5">
								<button class="rounded px-5 py-3 btn-custom-blue ubuntu-bold ">Case Study</button>
							</div>
						</div>
				 	</div>
				 </div>
			</div>
			
			
			
			
			
			
		</div>
	</div>
	</body>
</html>