<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="head :: content('Home - Samir Kumar', 'none')" />
<style th:inline="text">
.bg-image{
    background: url([[@{/images/bg-image.jpg}]])
                no-repeat ;
    background-size:cover;
}
</style>
<body class="ubuntu-regular" >
	<div>
		<section id="info" class="d-grid gap-5 bg-image">
			<div th:replace="fragments::navigation"></div>
			<div th:replace="projects/project_info::content('E-Commerce Platform Backend', 'This page contains the case study of E-commerce Platform Backend Project which includes the Project Overview, Tools Used and Live Links to the official product.', 'https://www.link.com')"></div>
		</section>
 		<section id="detail" class="container-fluid">
			<div th:replace="projects/project_details::content"></div>
		</section> 
	</div>


	<div th:replace="fragments::footer" class="container-fluid"></div>
	
	<div class="modal fade container-fluid" id="detailModal" >
		<div class="modal-dialog modal-xl modal-dialog-centered">
			<div class="modal-content">
			</div>
		</div>
	</div>

<script>

function scrollToElement(id){
	const element = document.getElementById(id);
	const offset = 75;  // Define your offset in pixels
	const elementPosition = element.getBoundingClientRect().top + window.pageYOffset;

	window.scrollTo({
	  top: elementPosition - offset,  // Scroll to the element with the offset
	  behavior: "smooth"              // Smooth scrolling
	});
}

window.addEventListener('scroll', function () {
    const sections = document.querySelectorAll('section');
    const navLinks = document.querySelectorAll('.navbar-nav .nav-link');
    let currentSection = '';

    sections.forEach((section) => {
        const sectionTop = section.offsetTop - 110; // Offset to account for navbar height
        const sectionHeight = section.clientHeight;
        
        if (pageYOffset >= sectionTop && pageYOffset < sectionTop + sectionHeight) {
            currentSection = section.getAttribute('id');
        }
    });

    navLinks.forEach((link) => {
        link.classList.remove('active');
        if (currentSection && link.getAttribute('onclick').includes(currentSection)) {
            link.classList.add('active');
        }
    });
});


$(".link-detail").on("click", function(e){
	e.preventDefault();
	linkDetailURL = $(this).attr("href");
	$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL)
});

</script>

</body>
</html>