	<div class="modal-header">
		<h4 class="modal-title">Microservices-based Insurance Billing Application</h4>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		<div>
			<p><span class="fs-5" style="color:#DC5F00">Tech Stack:</span></p>
			<p><span class="">Tech Stack: Java, Spring Boot, Microservices, Docker, Kubernetes</span></p>
		</div>
		<div>
			<p class="fs-5" style="color:#DC5F00">Roles and Responsibilities: </p>
			<p class="text-justify">Built a microservices architecture for an insurance application,
			 with services for user authentication, transaction management, and report generation.
			  Deployed the application using Docker containers orchestrated by Kubernetes.</p>
		</div>
		
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
	</div>
