	<div class="modal-header">
		<h4 class="modal-title">E-commerce Platform Backend</h4>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		<div>
			<p><span class="fs-5" style="color:#DC5F00">Tech Stack:</span></p>
			<p><span class="">Java, Spring Boot, MySQL, Redis, AWS</span></p>
		</div>
		<div>
			<p class="fs-5" style="color:#DC5F00">Roles and Responsibilities: </p>
			<p class="text-justify">Developed a scalable backend architecture for an e-commerce platform.
			 Designed RESTful APIs for managing user accounts, product inventory,
			  and order processing. Implemented caching strategies using Redis for 
			  improved performance.</p>
		</div>
		
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
	</div>
