	<div class="modal-header">
		<h4 class="modal-title">Web-based Automation Framework</h4>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		<div>
			<p><span class="fs-5" style="color:#DC5F00">Tech Stack:</span></p>
			<p><span class="">Tech Stack: Java, Spring Boot, Spring MVC, Multi-threading, Selenium, TestNG, MySQL</span></p>
		</div>
		<div>
			<p class="fs-5" style="color:#DC5F00">Roles and Responsibilities: </p>
			<p class="text-justify">Developed a keyword driven automation framework which provides web based User Interface
			to automate the test cases. Being a low code no code framework, it reduces the time and effort required to 
			automate the test cases.</p>
		</div>
		
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
	</div>
