	<div class="modal-header">
		<h4 class="modal-title">Buffalo Expression Database</h4>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		<div>
			<p><span class="fs-5" style="color:#DC5F00">Tech Stack:</span></p>
			<p><span class="">Tech Stack: Java, Spring Boot, Thymleaf, Bootstrap, JQuery</span></p>
		</div>
		<div>
			<p class="fs-5" style="color:#DC5F00">Roles and Responsibilities: </p>
			<p class="text-justify">Built a web app to publish the research data for ICAR University.
			 It is used as a repository of gene expression profiles derived from RNA-Seq experiments
			  of different tissues from the Bubalus bubalis (buffalo)</p>
		</div>
		
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
	</div>
